<h1>
  Angular App is running....!!!!!!
</h1>
<hr>
<h3>
  App created on {{today}}
</h3>
<hr>
<h3>Change Background:
  <input type="color" (change)="changeColor()"
  [(ngModel)]="bgcolor">
</h3>
<h4><u>Items</u></h4>
<ul [ngStyle]="boxStyle">
  <li (click)="handleClick(x)" 
  *ngFor="let x of items">{{x}}</li>
</ul>


<h3 [style.backgroundColor]="'black'">{{info}}</h3>

<!--
<app-box [title]="items[0]"></app-box>
<app-box [title]="items[1]"></app-box>
<app-box [title]="items[2]"></app-box>
-->

<app-box *ngFor="let x of [0,1,2,3]" [title]="items[x]"
 [products]="products[x]" [color]="colors[x]"
 (notify)="handleNotify($event,x)"></app-box>







